[submodule "contrib/posix-uefi"]
	path = posix-uefi
	url = https://gitlab.com/bztsrc/posix-uefi.git
[submodule "util"]
	path = util
	url = https://github.com/targetdisk/bash-util.git
[submodule "trident/setup_scripts"]
	path = gfx/img_data
	url = https://github.com/targetdisk/targetdisk
[submodule "td-img"]
	path = codec
	url = https://github.com/targetdisk/td-img
